.bod{
    border-style: inset;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(60,9,121,0.9808123078332895) 36%, rgba(0,212,255,1) 100%); 
}

.im1{
    width: 150px;
    height: 150px;
    border-radius: 500%;
    text-align: center;
}

.bod1{
    border-style: dotted;
}

.bod2{
    border-style: double;
}

.text1{
    text-align: center;
}

.text2{
    text-align: center;
}

.text3{
    
    text-align: center;
}

.text4{
    
    text-align: center;
}

.text5{
    text-align: center;
}

.text6{
    text-align: center;
}